.root {
    -fx-base: #ffffff;
    -fx-background: #ffffff;
    -fx-control-inner-background: #f3f3f3;
    -fx-text-fill: #333333;
}

.text-area {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-highlight-fill: #add6ff;
}

.menu-bar {
    -fx-background-color: #e6e6e6;
}

.tool-bar {
    -fx-background-color: #dddddd;
}

.status-bar {
    -fx-background-color: #e6e6e6;
    -fx-text-fill: #333333;
}
